.body {
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.postItem {
    position: relative;
}

.postItem .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 35px;
}