<div class="body" id="scroll">
    <div *ngFor="let post of posts" class="postItem">
        <img src="{{ post.frontImage | fullScreenImage }}"/>
        <div class="title">{{ post.title }}</div>
    </div>
</div>